{% extends "base.html" %}

  {% block head_content %}
  <title>Platzigram feed</title>
  {% endblock %}
  
  {% block container %}
  <div class="row">
    {% for post in posts %}
      <div class="col-lg-4 offset-lg-4">
        <div class="card mb-3 shadow">
          <div class="card-body">
            <h4 class="card-title">{{post.title}}</h4>
            <small class="card-text">{{post.timestamp}}</small>
          </div>
          <img class="card-img-top img-fluid" src="{{post.photo}}" alt="">
          <p class="card-text text-right m-3">by {{post.user.name}} <span><img class="rounded-circle ml-3" src="{{post.user.picture}}" alt=""></p>
        </div>
        <br>
      </div>
    {% endfor %}
    </div>
  {% endblock %}

      <div class="container">
        

        
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>