{% extends 'users/base.html' %}

{% block head_content %}
  <title></title>
{% endblock  %}


{% block container %}

{% if error %}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
{% endif %}

  <form action="{% url 'users:signup'%}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" name="username" placeholder="User name" id="name" class="form-control" required>
    </div>
    <div class="form-group">
      <input type="password" name="password" placeholder="User passwords" id="password" class="form-control" required>
    </div>
    <div class="form-group">
      <input type="password" name="password_confirmation" placeholder="Password confirmation" id="password_confirmation" class="form-control" required>
    </div>
    <div class="form-group">
      <input type="text" name="first_name" placeholder="First name" id="first_name" class="form-control" required>
    </div>
    <div class="form-group">
      <input type="text" name="last_name" placeholder="Last name" id="last_name" class="form-control" required>
    </div>
    <div class="form-group">
      <input type="email" name="email" placeholder="Email address" id="email" class="form-control" required>
    </div>

    <button class="btn btn-primary btn-block mt-5" type="submit">Register</button>
    
  </form>
{% endblock  %}
  